body.fullscreen {
	margin: 0;
	font-size: 36pt;
	text-align: center;
} .fullscreen #translit {
	color: #555;
	font-style: italic;
	font-size: 80%;
} #jump {
	display: none;
	background: #eee;
	padding: 10px;
	margin-bottom: 1em;
} .fullscreen #quran div {
	padding: 1em 3em;
} .fullscreen .btn {
	font-size: 12px;
	background: #000;
	color: #fff;
	font-family: sans-serif;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}
